################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Release
/.vs/TargetOptimizer/v16
/x64
/TargetOptimizer.vcxproj.user
/dlib/out
/.vs
/TargetOptimizer.aps
/RCb12296
/RCa12296
