################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/TargetOptimizer/v16
/x64
/TargetOptimizer.vcxproj.user
/dlib/out
/.vs
/Unit Test TextGrid/Debug
/Unit Test TextGrid/x64/Release
/Unit Test TextGrid/Unit Test TextGrid.vcxproj.user
/Unit Test TextGrid/test_long.TextGrid
/Unit Test TextGrid/test_short.TextGrid
